.hidden {
  display: none;
}

.record_sheet {
  width: 525px;
  height: 707px;
  position: absolute;
  top: 50px;
  left: 50px;
  background-size: 100%;
  background-color:rgba(255,255,255,0.9);
  background-image: url("../img/record sheet.png");
  border: 3px solid black;
  border-radius: 16px;
}

.record_sheet div {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.record_sheet #name {
  left: 22px;
  top: 30px;
  width: 244px;
  font-size: 30px;
}

.record_sheet #race {
  left: 22px;
  top: 100px;
  width: 168px;
  font-size: 24px;
}

.record_sheet #str {
  left: 274px;
  top: 124px;
  width: 58px;
  font-size: 46px;
}

.record_sheet #dex {
  left: 142px;
  top: 172px;
  width: 36px;
  font-size: 34px;
}

.record_sheet #dex_adj {
  left: 274px;
  top: 225px;
  width: 58px;
  font-size: 46px;
}

.record_sheet #dex_adj2 {
  left: 386px;
  top: 225px;
  width: 58px;
  font-size: 46px;
}

.record_sheet #ma {
  left: 55px;
  top: 236px;
  width: 58px;
  font-size: 46px;
}

.record_sheet #exp {
  left: 230px;
  top: 660px;
  width: 68px;
  font-size: 26px;
}

.char {
  width: 60px;
  height: 60px;
  position: absolute;
  background-size: 100%;
}

.char_1 {
  background-image: url(../img/chars/char01.jpg);
}
.char_2 {
  background-image: url(../img/chars/char02.jpg);
}
.char_3 {
  background-image: url(../img/chars/char03.jpg);
}
.char_4 {
  background-image: url(../img/chars/char04.jpg);
}
.char_5 {
  background-image: url(../img/chars/char05.jpg);
}
.char_6 {
  background-image: url(../img/chars/char06.jpg);
}
.char_7 {
  background-image: url(../img/chars/char07.jpg);
}
.char_8 {
  background-image: url(../img/chars/char08.jpg);
}
.char_9 {
  background-image: url(../img/chars/char09.jpg);
}
.char_10 {
  background-image: url(../img/chars/char10.jpg);
}
.char_11 {
  background-image: url(../img/chars/char11.jpg);
}
.char_12 {
  background-image: url(../img/chars/char12.jpg);
}
.char_13 {
  background-image: url(../img/chars/char13.jpg);
}
.char_14 {
  background-image: url(../img/chars/char14.jpg);
}
.char_15 {
  background-image: url(../img/chars/char15.jpg);
}
.char_16 {
  background-image: url(../img/chars/char16.jpg);
}
.char_17 {
  background-image: url(../img/chars/char17.jpg);
}
.char_18 {
  background-image: url(../img/chars/char18.jpg);
}
.char_19 {
  background-image: url(../img/chars/char19.jpg);
}
.char_20 {
  background-image: url(../img/chars/char20.jpg);
}
.char_21 {
  background-image: url(../img/monsters/monster01.jpg);
}
.char_22 {
  background-image: url(../img/monsters/monster02.jpg);
}
.char_23 {
  background-image: url(../img/monsters/monster03.jpg);
}
.char_24 {
  background-image: url(../img/monsters/monster04.jpg);
}
.char_25 {
  background-image: url(../img/monsters/monster05.jpg);
}
.char_26 {
  background-image: url(../img/monsters/monster06.jpg);
}
.char_27 {
  background-image: url(../img/monsters/monster07.jpg);
}

.char_28 {
  width: 120px;
  height: 104px;
  background-image: url(../img/monsters/olbrzym.png);
}

.char_chest {
  width: 60px;
  height: 60px;
  background-image: url(../img/items/chest-icon_60.png);
}


.hex {
  width: 100px;
  height: 87px;
  position: absolute;
  background-image: url(../img/hexes/hex0.png);
  background-size: 100%;
}

.hex1 {
  background-image: url(../img/hexes/hex1.png);
}
.hex2 {
  background-image: url(../img/hexes/hex2.png);
}
.hex3 {
  background-image: url(../img/hexes/hex3.png);
}
.hex4 {
  background-image: url(../img/hexes/hex4.png);
}
.hex5 {
  background-image: url(../img/hexes/hex5.png);
}
.hex6 {
  background-image: url(../img/hexes/hex6.png);
}

.hex_black {
  background-image: url(../img/hexes/hex_black.png);
}
.hex_grey {
  background-image: url(../img/hexes/hex_grey.png);
}
.hex_yellow {
  background-image: url(../img/hexes/hex_yellow.png);
}
.hex_yellow_f {
  background-image: url(../img/hexes/hex_yellow_f.png);
}
.hex_yellow_s {
  background-image: url(../img/hexes/hex_yellow_s.png);
}
.hex_yellow_r {
  background-image: url(../img/hexes/hex_yellow_r.png);
}

.board {
  width: 1160px;
  height: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  background-color: #404040;
  #background-color: white;
  border: 1px solid black;
}

.board .title {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 50px;
  width: 500px;
  font-weight: bold;
  text-align: center;
}
